$cor-principal: red;
$cor-secundaria: black;

.quadrado{
    background-color: $cor-principal;
    border: 2px solid transparent;
    width: 200px;
    height: 200px;
}

.quadrado:hover{
    border-color: $cor-secundaria;
}